<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .wrapper {
                flex: 1;
                flex-direction: row;
                display: flex;
            }
        </style>
    </head>
<body>
    <div class="wrapper">
