<div id="test2">
    {{#value.blockitem}}
    <div>
        <a href="{{link}}" title="{{text}}">
            <img src="{{img}}" alt="{{text}}">
        </a>
        <p>{{text}}</p>
    </div>
    {{/value.blockitem}}
</div>
