<div id="test1">
    {{#result}}
    <div>
        <ul>
            {{#news}}
            <li>
                <a href="{{targetUrl}}" title="{{text2}}">
                    <img src="{{imgUrl}}" alt="{{text2}}">
                </a>
                <p>{{text3}}</p>
            </li>
            {{/news}}
        </ul>
    </div>
    {{/result}}
</div>
